## Week-4 Asignment (Question-1)

In [1]:
!hadoop fs -ls /public/trendytech/retail_db/

Found 7 items
drwxr-xr-x   - itv005857 supergroup          0 2023-04-26 16:47 /public/trendytech/retail_db/categories
drwxr-xr-x   - itv005857 supergroup          0 2023-04-26 16:47 /public/trendytech/retail_db/customers
drwxr-xr-x   - itv005857 supergroup          0 2023-04-26 16:47 /public/trendytech/retail_db/departments
drwxr-xr-x   - itv005857 supergroup          0 2023-04-26 16:47 /public/trendytech/retail_db/order_items
drwxr-xr-x   - itv005857 supergroup          0 2023-05-04 16:18 /public/trendytech/retail_db/orders
drwxr-xr-x   - itv005857 supergroup          0 2023-04-26 16:47 /public/trendytech/retail_db/products
-rw-r--r--   3 itv005857 supergroup       4965 2023-04-26 16:47 /public/trendytech/retail_db/wordcount.rtf

In [2]:
!hadoop fs -head /public/trendytech/retail_db/orders/part-00000

1,2013-07-25 00:00:00.0,11599,CLOSED
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT
3,2013-07-25 00:00:00.0,12111,COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0,11318,COMPLETE
6,2013-07-25 00:00:00.0,7130,COMPLETE
7,2013-07-25 00:00:00.0,4530,COMPLETE
8,2013-07-25 00:00:00.0,2911,PROCESSING
9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT
10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT
11,2013-07-25 00:00:00.0,918,PAYMENT_REVIEW
12,2013-07-25 00:00:00.0,1837,CLOSED
13,2013-07-25 00:00:00.0,9149,PENDING_PAYMENT
14,2013-07-25 00:00:00.0,9842,PROCESSING
15,2013-07-25 00:00:00.0,2568,COMPLETE
16,2013-07-25 00:00:00.0,7276,PENDING_PAYMENT
17,2013-07-25 00:00:00.0,2667,COMPLETE
18,2013-07-25 00:00:00.0,1205,CLOSED
19,2013-07-25 00:00:00.0,9488,PENDING_PAYMENT
20,2013-07-25 00:00:00.0,9198,PROCESSING
21,2013-07-25 00:00:00.0,2711,PENDING
22,2013-07-25 00:00:00.0,333,COMPLETE
23,2013-07-25 00:00:00.0,4367,PENDING_PAYMENT
24,2013-07-25 00:00:00.0,11441,CLOSED
25,2013-07-25 00:00:00.0,9503,CLOSED
26,2013-0

In [3]:
!hadoop fs -head /public/trendytech/retail_db/customers/part-00000

1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,"10 Crystal River Mall ",Caguas,PR,00725
6,Mary,Smith,XXXXXXXXX,XXXXXXXXX,3151 Sleepy Quail Promenade,Passaic,NJ,07055
7,Melissa,Wilcox,XXXXXXXXX,XXXXXXXXX,9453 High Concession,Caguas,PR,00725
8,Megan,Smith,XXXXXXXXX,XXXXXXXXX,3047 Foggy Forest Plaza,Lawrence,MA,01841
9,Mary,Perez,XXXXXXXXX,XXXXXXXXX,3616 Quaking Street,Caguas,PR,00725
10,Melissa,Smith,XXXXXXXXX,XXXXXXXXX,8598 Harvest Beacon Plaza,Stafford,VA,22554
11,Mary,Huffman,XXXXXXXXX,XXXXXXXXX,3169 Stony Woods,Caguas,PR,00725
12,Christopher,Smith,XXXXXXXXX,XXXXXXXXX,5594 Jagged Embers By-pass,San Antonio,TX,78227
13,Mary,Baldwin,XXXXXXXXX,XXXXXXXXX,7922 Iron Oak Gardens,Caguas,PR,00725
14,Katherine,Smith,XXXXXXXXX,XXXXXXX

In [4]:
!hadoop fs -head /public/trendytech/retail_db/order_items/part-00000

1,1,957,1,299.98,299.98
2,2,1073,1,199.99,199.99
3,2,502,5,250.0,50.0
4,2,403,1,129.99,129.99
5,4,897,2,49.98,24.99
6,4,365,5,299.95,59.99
7,4,502,3,150.0,50.0
8,4,1014,4,199.92,49.98
9,5,957,1,299.98,299.98
10,5,365,5,299.95,59.99
11,5,1014,2,99.96,49.98
12,5,957,1,299.98,299.98
13,5,403,1,129.99,129.99
14,7,1073,1,199.99,199.99
15,7,957,1,299.98,299.98
16,7,926,5,79.95,15.99
17,8,365,3,179.97,59.99
18,8,365,5,299.95,59.99
19,8,1014,4,199.92,49.98
20,8,502,1,50.0,50.0
21,9,191,2,199.98,99.99
22,9,1073,1,199.99,199.99
23,9,1073,1,199.99,199.99
24,10,1073,1,199.99,199.99
25,10,1014,2,99.96,49.98
26,10,403,1,129.99,129.99
27,10,917,1,21.99,21.99
28,10,1073,1,199.99,199.99
29,11,365,1,59.99,59.99
30,11,627,4,159.96,39.99
31,11,1014,1,49.98,49.98
32,11,191,4,399.96,99.99
33,11,1014,5,249.9,49.98
34,12,957,1,299.98,299.98
35,12,134,4,100.0,25.0
36,12,1014,3,149.94,49.98
37,12,191,5,499.95,99.99
38,12,502,5,250.0,50.0
39,13,276,4,127.96,31.99
40,14,1004,1,399.98,399.98
41,14,1014,2,99.96,49.98
42,14,502,1,50.0,50.0

In [5]:
import getpass as gp
from pyspark.sql import SparkSession

In [6]:
user = gp.getuser()
spark = SparkSession.builder \
            .appName(f'{user}-week4-assignment-question-1') \
            .master('yarn') \
            .getOrCreate()

In [7]:
spark

### Create File Base RDD

In [8]:
rdd_input_file_cust = spark.sparkContext.textFile('/public/trendytech/retail_db/customers/*') \
                        .map(lambda row : row.split(','))

In [9]:
rdd_input_file_cust.take(2)

[['1',
  'Richard',
  'Hernandez',
  'XXXXXXXXX',
  'XXXXXXXXX',
  '6303 Heather Plaza',
  'Brownsville',
  'TX',
  '78521'],
 ['2',
  'Mary',
  'Barrett',
  'XXXXXXXXX',
  'XXXXXXXXX',
  '9526 Noble Embers Ridge',
  'Littleton',
  'CO',
  '80126']]

In [10]:
rdd_input_file_ord = spark.sparkContext.textFile('/public/trendytech/retail_db/orders/*') \
                        .map(lambda row : row.split(','))

In [11]:
rdd_input_file_ord.take(2)

[['1', '2013-07-25 00:00:00.0', '11599', 'CLOSED'],
 ['2', '2013-07-25 00:00:00.0', '256', 'PENDING_PAYMENT']]

In [12]:
rdd_input_file_ord_itm = spark.sparkContext.textFile('/public/trendytech/retail_db/order_items/*') \
                        .map(lambda row : row.split(','))

In [13]:
rdd_input_file_ord_itm.take(2)

[['1', '1', '957', '1', '299.98', '299.98'],
 ['2', '2', '1073', '1', '199.99', '199.99']]

In [14]:
rdd_cust_req_cols = rdd_input_file_cust.map(lambda col : (int(col[0]), col[1] + ' ' + col[2], col[6], col[7], col[8]))

In [15]:
rdd_cust_req_cols.take(2)

[(1, 'Richard Hernandez', 'Brownsville', 'TX', '78521'),
 (2, 'Mary Barrett', 'Littleton', 'CO', '80126')]

In [16]:
rdd_ord_req_cols = rdd_input_file_ord.map(lambda col : (int(col[0]), int(col[2]), col[3]))

In [17]:
rdd_ord_req_cols.take(2)

[(1, 11599, 'CLOSED'), (2, 256, 'PENDING_PAYMENT')]

In [18]:
rdd_ord_itm_req_cols = rdd_input_file_ord_itm.map(lambda col : (int(col[0]), int(col[1]), int(col[2]), int(col[3]), float(col[4])))

In [19]:
rdd_ord_itm_req_cols.take(2)

[(1, 1, 957, 1, 299.98), (2, 2, 1073, 1, 199.99)]

### 1. Top 10 customers who have spent the most amount

In [20]:
rdd_cust_ord_join = rdd_cust_req_cols.map(lambda col : (col[0], col[1])) \
                        .join(
                            rdd_ord_req_cols.map(lambda col : (col[1], col[0]))
                        )

In [21]:
rdd_cust_ord_join.take(2)

[(4, ('Mary Jones', 9023)), (4, ('Mary Jones', 9704))]

In [22]:
rdd_rdd_cust_ord_ord_itm_join = rdd_cust_ord_join.map(lambda col : (col[1][1], col[0])) \
                                    .join(
                                        rdd_ord_itm_req_cols.map(lambda col : (col[1], col[4]))
                                    )

In [23]:
rdd_rdd_cust_ord_ord_itm_join.take(2)

[(12, (1837, 299.98)), (12, (1837, 100.0))]

In [24]:
rdd_cust_top_spend = rdd_rdd_cust_ord_ord_itm_join.map(lambda col : (col[1][0], col[1][1])) \
                            .reduceByKey(lambda x,y : x+y) \
                            .sortBy(lambda col : col[1], ascending= False)

In [25]:
rdd_cust_top_spend.take(10)

[(791, 10524.17),
 (9371, 9299.03),
 (8766, 9296.14),
 (1657, 9223.710000000001),
 (2641, 9130.919999999998),
 (1288, 9019.109999999999),
 (3710, 9019.1),
 (4249, 8918.85),
 (5654, 8904.949999999999),
 (5624, 8761.98)]

In [26]:
rdd_top_spend_cust_dtls = rdd_cust_req_cols.map(lambda col : (col[0], (col[1], col[2], col[3], col[4]))) \
                                .join(
                                        rdd_cust_top_spend
                                ) \
                                .sortBy(lambda col : col[1][1], ascending= False) \
                                .map(lambda col : (col[0], col[1][0][0], col[1][0][1], col[1][0][2], col[1][0][3], col[1][1]))

In [27]:
rdd_top_spend_cust_dtls.take(10)

[(791, 'Mary Smith', 'Canton', 'MI', '48187', 10524.17),
 (9371, 'Mary Patterson', 'Meridian', 'ID', '83642', 9299.03),
 (8766, 'Mary Duncan', 'Caguas', 'PR', '00725', 9296.14),
 (1657, 'Betty Phillips', 'Caguas', 'PR', '00725', 9223.710000000001),
 (2641, 'Betty Spears', 'Carrollton', 'TX', '75006', 9130.919999999998),
 (1288, 'Evelyn Thompson', 'Caguas', 'PR', '00725', 9019.109999999999),
 (3710, 'Ashley Smith', 'Springfield', 'MO', '65807', 9019.1),
 (4249, 'Mary Butler', 'Caguas', 'PR', '00725', 8918.85),
 (5654, 'Jerry Smith', 'Caguas', 'PR', '00725', 8904.949999999999),
 (5624, 'Mary Mata', 'Caguas', 'PR', '00725', 8761.98)]

In [28]:
# end

### 2. Top 10 product id's with most quantities sold

In [29]:
rdd_ord_itm_req_cols \
.map(lambda col : (col[2], col[3])) \
.reduceByKey(lambda x,y : x+y) \
.sortBy(lambda col : col[1], ascending= False) \
.take(10)

[(365, 73698),
 (502, 62956),
 (1014, 57803),
 (191, 36680),
 (627, 31735),
 (403, 22246),
 (1004, 17325),
 (1073, 15500),
 (957, 13729),
 (977, 998)]

In [30]:
#end

### 3. How many customers are from Caguas city

In [31]:
rdd_cust_req_cols \
.filter(lambda col : col[2] == 'Caguas') \
.count()

4584

In [32]:
# end

### 4. Top 3 states with maximum customers

In [33]:
rdd_cust_req_cols \
.map(lambda col : col[3]) \
.countByValue()

defaultdict(int,
            {'TX': 635,
             'CO': 122,
             'PR': 4771,
             'CA': 2012,
             'NJ': 219,
             'MA': 113,
             'VA': 136,
             'MI': 254,
             'AZ': 213,
             'IL': 523,
             'WA': 72,
             'NM': 73,
             'LA': 63,
             'NY': 775,
             'GA': 169,
             'OH': 276,
             'MD': 164,
             'PA': 261,
             'NC': 150,
             'TN': 104,
             'FL': 374,
             'NV': 103,
             'MN': 39,
             'OR': 119,
             'WI': 64,
             'UT': 69,
             'OK': 19,
             'MO': 92,
             'KY': 35,
             'CT': 73,
             'WV': 16,
             'HI': 87,
             'IA': 5,
             'DE': 23,
             'DC': 42,
             'SC': 41,
             'IN': 40,
             'ID': 9,
             'RI': 15,
             'AR': 12,
             'KS': 29,
             'AL': 3,
             'MT': 7,
             'ND': 14})

In [34]:
result = [(state, count) for state, count in rdd_cust_req_cols.map(lambda col : col[3]).countByValue().items()]

In [35]:
result.sort(key= lambda col : col[1], reverse=True)

In [36]:
result[:3]

[('PR', 4771), ('CA', 2012), ('NY', 775)]

In [37]:
# end

In [38]:
rdd_cust_req_cols \
.map(lambda col : (col[3],1)) \
.reduceByKey(lambda x,y : x+y) \
.sortBy(lambda col : col[1], ascending= False) \
.take(5)

[('PR', 4771), ('CA', 2012), ('NY', 775), ('TX', 635), ('IL', 523)]

In [39]:
# end

In [40]:
rdd_cust_req_cols \
.map(lambda col : (col[3],1)) \
.groupByKey() \
.map(lambda col : (col[0], len(col[1]))) \
.sortBy(lambda col : col[1], ascending= False) \
.take(5)

[('PR', 4771), ('CA', 2012), ('NY', 775), ('TX', 635), ('IL', 523)]

In [41]:
# end

### 5. How many customers have spent more than `$1000` in total

In [42]:
rdd_top_spend_cust_dtls \
.filter(lambda col : col[5] >= 100.00) \
.distinct().count()

12310

In [43]:
# end

### 6. Which state has most number of orders in CLOSED status

In [44]:
rdd_cust_req_cols.map(lambda col : (col[0], col[3])) \
.join(
    rdd_ord_req_cols.filter(lambda col : col[2] == 'CLOSED').map(lambda col : (col[1], 1))
) \
.map(lambda col : (col[1][0], col[1][1])) \
.reduceByKey(lambda x,y : x+y) \
.sortBy(lambda col : col[1], ascending= False) \
.take(5)

[('PR', 2891), ('CA', 1232), ('NY', 450), ('TX', 403), ('IL', 313)]

In [45]:
# end

### 7. How many customers are active (active customers are the one's who placed atleast one order)

In [46]:
rdd_cust_req_cols.map(lambda col : (col[0], col[1])) \
.join(
    rdd_ord_req_cols.map(lambda col : (col[1], col[0]))
) \
.map(lambda col : col[0]) \
.distinct().count()

12405

In [47]:
# end

### 8. What is the revenue generated by each state in sorted order.

In [48]:
rdd_top_spend_cust_dtls \
.map(lambda col : (col[3], col[5])) \
.reduceByKey(lambda x,y : x+y) \
.sortBy(lambda col : col[1], ascending= False) \
.collect()

[('PR', 13208867.689999992),
 ('CA', 5542722.999999998),
 ('NY', 2152706.7399999998),
 ('TX', 1731407.4899999998),
 ('IL', 1457225.83),
 ('FL', 1048609.7700000003),
 ('OH', 773804.11),
 ('MI', 730078.9699999999),
 ('PA', 724375.93),
 ('NJ', 606550.99),
 ('AZ', 566459.29),
 ('GA', 467765.18),
 ('MD', 456100.42000000004),
 ('NC', 378877.63999999996),
 ('CO', 358310.60000000003),
 ('VA', 344824.35000000003),
 ('OR', 315239.51),
 ('MA', 306025.73000000004),
 ('TN', 297614.41000000003),
 ('NV', 276364.97),
 ('MO', 260417.28),
 ('HI', 238208.11000000002),
 ('CT', 211264.24000000002),
 ('UT', 184356.83),
 ('LA', 182954.74),
 ('NM', 181366.65000000002),
 ('WA', 172982.45),
 ('WI', 164058.32),
 ('MN', 133183.97),
 ('SC', 129411.79000000002),
 ('IN', 110015.14),
 ('DC', 108841.48000000001),
 ('KY', 94894.75),
 ('KS', 85865.07),
 ('DE', 48873.25000000001),
 ('RI', 47439.35),
 ('OK', 43493.32000000001),
 ('WV', 43452.67000000001),
 ('ND', 41221.97000000001),
 ('ID', 31791.199999999997),
 ('AR', 29241.610000000004),
 ('MT', 16189.98),
 ('IA', 12761.740000000002),
 ('AL', 6401.400000000001)]

In [49]:
# end